@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Just+Another+Hand&family=Roboto+Mono&display=swap');
html {
	font-family: "Roboto Mono", Verdana, sans-serif;
	padding: 5px;
	overflow-y: scroll;
	overflow-x: hidden;
	font-size: 13px;
	word-wrap: break-word;
	text-align: center;
	background-color: #392611;
	color: white;
}